.stripedTable {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stripedTable th,
.stripedTable td {
    padding: 8px;
    text-align: left;
}

.stripedTable th {
    background-color: #f2f2f2;
}

.stripedTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
