<div class="main">
  <nav class="header">
    <a [routerLink]="['/students']" routerLinkActive="router-link-active">
      <button class="tab">Students</button>
    </a>
    <a [routerLink]="['/courses']" routerLinkActive="router-link-active">
      <button class="tab">Courses</button>
    </a>
    <a [routerLink]="['/projects']" routerLinkActive="router-link-active">
      <button class="tab">Projects</button>
    </a>
    <a [routerLink]="['/studentsInCourses']" routerLinkActive="router-link-active">
      <button class="tab">Students by Courses</button>
    </a>
    <a [routerLink]="['/studentsInProjects']" routerLinkActive="router-link-active">
      <button class="tab">Students by Projects</button>
    </a>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
