<div class="main">
  <nav class="header">
    <button class="tab" (click)="selectEntity('students')">Students</button>
    <button class="tab" (click)="selectEntity('courses')">Courses</button>
    <button class="tab" (click)="selectEntity('projects')">Projects</button>
  </nav>
  <div class="content">
    <app-students *ngIf="selectedEntity === 'students'"></app-students>
    <app-courses *ngIf="selectedEntity === 'courses'"></app-courses>
    <!-- <app-projects *ngIf="selectedEntity === 'projects'"></app-projects> -->
  </div>
</div>
