
.input-field {
  display: inline-block;
  margin-right: 10px;
  height: auto;
  border: 1px solid #ccc;
  padding: 10px 20px;
}

/* Submit button */
.submit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

/* Clear button */
.clear-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

form {
  margin-bottom: 1em;
}
