<div class="container">
  <h1>Students By Courses</h1>
  <div>
    <form [formGroup]="addObjectForm">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Student</mat-label>
              <mat-select formControlName="StudentName">
                @for (student of currentStudents; track student) {
                  <mat-option [value]="student.Name">{{student.Name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Courses</mat-label>
              <mat-select formControlName="CourseName">
                @for (course of currentCourses; track course) {
                  <mat-option [value]="course.Name">{{course.Name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <button
              (click)="addObject()"
              class="submit-button"
            >
              Add / Update
            </button>
          </td>
          <td>
            <button (click)="clearForm()" class="clear-button">Clear</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  
  <table mat-table [dataSource]="studentsByCoursesDisplay" class="mat-elevation-z8">
    <ng-container matColumnDef="StudentName">
      <th mat-header-cell *matHeaderCellDef>Student Name</th>
      <td mat-cell *matCellDef="let element">{{ element.StudentName }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="CourseName">
      <th mat-header-cell *matHeaderCellDef>Course Name</th>
      <td mat-cell *matCellDef="let element">{{ element.CourseName }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="modelAttributes"></tr>
    <tr mat-row *matRowDef="let row; columns: modelAttributes" (click)="loadToForm(row)"></tr>
  </table>
</div>
